name: Release package by creating of a new tag

on:
  workflow_dispatch:

jobs:
  check_and_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          always-auth: true
      - run: npm ci
      - run: npm test
      - run: npm version patch
      - run: git push --tags && git push
